*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{  
 
    width:100vw;
    height:100%;
}
.chat-container{
    width: 100vw;
    height:100%;;
    background-color:rgb(68, 76, 85) ;
    padding:20%;
    display: flex;
    flex-direction:column;
    gap: 20px;
    font-size: 20px;
    overflow: auto;
    
}
.user-chat-box{
    width: 60%;
    position: relative;
    left: 40%;
}
.ai-chat-box{
    width:60%;
}
.user-chat-area{
    width:90%;
    padding:5%;
    background-color: rgb(75, 106, 115);
    color:rgb(242, 242, 232);
    border-radius: 40px 0px 40px 40px;
    box-shadow: 2px 2px 10px black;
    display: flex;
    /* align-items: flex-start;
    justify-content: flex-start; */
    gap: 10px;
    flex-direction: column;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
.chosen-image{
    width: 130px;
    max-width: 100%;
    border-radius: 10px;
}

.choose{
    width:80%;
    height:80%;
    border-radius: 50%;
}
#Image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ai-chat-area{
    width:90%;
    left:10%;
    position:relative;
    padding:5%;
    color:rgb(242, 242, 232);
    border-radius: 0px 40px 40px 40px;
    background-color: rgb(75, 106, 115);
     box-shadow: 2px 2px 10px black;
     word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

#userImage{
    position:absolute;
    right:0;
    width:20px;
    filter:drop-shadow(2px 2px 10px black);
    border-radius: 50% 0% 50% 50%;
}
#aiImage{
    position: absolute;
    width:25px;
    filter:drop-shadow(2px 2px 10px black);
    border-radius: 0% 50% 50% 50%;
}

.prompt-area{
    width:100%;
    height:20%;
    background-color: rgb(68, 76, 85 );
    display: flex;
    justify-content: center;
    gap:10px;

}
.prompt-area input{
    width:40%;
    height:50px;
    background-color: black;
    border-radius: 20px;
    color:rgb(246, 235, 235);
    font-size: 20px;
    padding:20px;
    /* box-shadow: 2px 2px 10px rgb(75, 74, 74); */
    border:none
}
.prompt-area button{
    width:30px;
    height:50px;
    background-color: rgba(0, 0, 0, 0.94);
    border-radius: 100%;
    transition: all 0.5s ease;
    margin-bottom: 20px;
}

.prompt-area button:hover{
       border: solid 1px white;
       background-color: rgba(0, 0, 0, 0.512);

}

.prompt-area input:hover{
       border: solid 1px white;
       box-shadow: 2px 2px 10px rgb(75, 74, 74);
       background-color: rgba(0, 0, 0, 0.512);
}

.load{
    filter:drop-shadow(2px 2px 10px black);
}
@media (max-width:300px) {
    .user-chat-box{
      width:80%  
    }
}